*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.specialities-page {
    margin-bottom: 100px;
}

.specialities-page h2{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #333;
}

.specialities-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.specialities-card {
  background: #f7f9ff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  transition: 0.2s;
  text-decoration: none;
}

.specialities-card:hover {
  background: #e5ebff;
}

.specialities-icon {
  font-size: 36px;
  margin-bottom: 10px;
}

.specialities-name {
  font-weight: 600;
  color: #003a70;
}